.box {
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 70px;
  background-color: #666;
}

.box p {
  font-size: 20px;
  color: red;
}

.box .two {
  color: #80b4d1;
}

.box:hover .two {
  color: blue;
}
